<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8 p-10 bg-white shadow-xl rounded-lg border border-gray-100">

    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
      Log in to your account
    </h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-8 space-y-6">
      <input type="hidden" name="remember" value="true">

      <div class="rounded-lg">


        <div class="mt-4">
          <label for="email-address" class="sr-only">Email</label>
          <input id="email-address" name="email" type="email" autocomplete="email" required formControlName="email"
            class="appearance-none relative block w-full px-4 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-lg focus:outline-none focus:ring-pink-600 focus:border-pink-600 focus:z-10 sm:text-sm"
            placeholder="Email">
        </div>


        @if (f['email'].invalid && f['email'].touched) {
        <div class="text-red-500 text-sm pt-1 pb-1">
          @if (f['email'].errors?.['required']) { <p>Email is required</p> }
          @if (f['email'].errors?.['email']) { <p>Enter correct email</p> }
        </div>
        }


        <div class="mt-4">
          <label for="password" class="sr-only">Password</label>
          <input id="password" name="password" type="password" autocomplete="current-password" required
            formControlName="password"
            class="appearance-none relative block w-full px-4 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-lg focus:outline-none focus:ring-pink-600 focus:border-pink-600 focus:z-10 sm:text-sm"
            placeholder="Password">
        </div>


        @if (f['password'].invalid && f['password'].touched) {
        <div class="text-red-500 text-sm pt-1 pb-1">
          @if (f['password'].errors?.['required']) { <p>Password is required</p> }
        </div>
        }
      </div>


      @if (errorMessage) {
      <div class="text-center text-red-600 font-medium bg-red-100 p-2 rounded-lg">
        {{ errorMessage }}
      </div>
      }


      <div>
        <button type="submit" [disabled]="loginForm.invalid"
          class="group relative w-full flex justify-center py-3 px-4 border border-transparent text-lg font-medium rounded-lg text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500 disabled:opacity-50 transition duration-150 shadow-md">
          Log in
        </button>
      </div>


      <div class="text-center text-sm pt-2">
        <a routerLink="/register" class="font-medium text-pink-600 hover:text-pink-500">
          Don't have an account? Sign up
        </a>
      </div>
    </form>
  </div>
</div>
<router-outlet></router-outlet>