<div class="py-8 px-4 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-bold text-gray-900 mt-4 mb-10">Find your events</h1>

    @if (isLoading) {
    <div class="text-center py-10">
        <p class="text-pink-600">Loading events...</p>
    </div>
    } @else {

    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8">

        @for (event of (events$ | async); track event.id) {

        <div (click)="onCardClick(event.id, $event)"
            class="bg-white rounded-xl shadow-lg hover:shadow-xl transition duration-300 overflow-hidden flex flex-col cursor-pointer border border-gray-200">

            <div class="p-6 flex-grow">
                <h3 class="text-2xl font-bold text-gray-900 mb-2 hover:text-pink-600 transition duration-150">
                    {{ event.title }}
                </h3>
                <p class="text-gray-600 text-sm mb-4 h-12 overflow-hidden">{{ event.description }}</p>
                <div class="space-y-3 pt-3 border-t border-gray-100 mt-4 text-sm">
                    <p class="flex items-start text-gray-700">
                        <span class="text-gray-400 mr-3 mt-0.5">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-5">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
                            </svg>
                        </span>
                        @if (event.dateTime) {
                        <span class="flex flex-col">
                            {{ event.dateTime | date:'MMM d, yyyy' }}
                        </span>
                        } @else {
                        <span class="ml-2">-</span>
                        }
                    </p>
                    <p>
                        @if (event.dateTime) {
                        <span class="text-pink-600 flex items-center mt-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-4 mr-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            {{ event.dateTime | date:'HH:mm' }}
                        </span>
                        }@else {
                        <span class="ml-2">-</span>
                        }
                    </p>
                    <p class="flex items-center text-gray-700">
                        <span class="text-gray-400 mr-3">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-5">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0 0 12 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75Z" />
                            </svg>
                        </span>
                        {{ event.location }}
                    </p>
                    <p class="flex items-center text-gray-700">
                        <span class="text-gray-400 mr-3">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-5">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
                            </svg>
                        </span>
                        {{ event.participantsCount }}
                        @if (event.capacity !== null ) { / {{ event.capacity }} participants }
                        @else { participants }
                    </p>
                </div>
            </div>
            <div class="p-4 border-t border-gray-200">
                @if (event.isFull && !event.isJoined) {
                <span
                    class="w-full block text-center py-3 bg-gray-300 text-gray-700 font-bold rounded-lg cursor-not-allowed shadow-md">
                    Full
                </span>
                }

                @else {
                @if (isLoggedIn) {
                <div class="flex gap-4">
                    @if (!event.isJoined) {
                    <button (click)="onJoin(event); $event.stopPropagation()"
                        class="grow-[2] py-3 bg-pink-600 text-white font-bold rounded-lg hover:bg-pink-700 transition duration-150 shadow-md">
                        Join Event
                    </button>
                    }
                    @if (event.isJoined) {
                    <button (click)="onLeave(event); $event.stopPropagation()"
                        class="grow py-3 bg-red-500 text-white font-bold rounded-lg hover:bg-red-600 transition duration-150 shadow-md">
                        Leave
                    </button>
                    }
                </div>
                }

                @else {
                <button (click)="router.navigate(['/login'])"
                    class="w-full py-3 bg-green-600 text-white font-bold rounded-lg hover:bg-green-700 transition duration-150 shadow-md">
                    Join Event (Log in required)
                </button>
                }
                }
            </div>
        </div>
        } @empty {
        <div class="md:col-span-3 text-center py-20 bg-gray-50 rounded-lg p-6">
            <p class="text-xl text-gray-600">No public events available yet</p>
        </div>
        }
    </div>
    }
</div>